.message-container {
    // box-shadow: 0 0 10px rgba(255, 246, 246, 0.788);
    visibility: visible;
    // animation: fadeIn 1s;

    &:hover {

        .option-button {
            transform: translateY(0px);
            opacity: 1;
            @apply animate-appearance-in
        }

    }

    .option-button {

        transition: all 0.3s ease-in-out;

        @media (min-width: 720px) {
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

    }
}
