#container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

#left,
#right {
    flex: 0 0 250px;
    /* Adjust the width of left and right divs as needed */
    position: sticky;
    top: 70px;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 72px;
    /* Optional: Add background color */
}

#center {
    flex: 1;
    max-width: 1280px;
    overflow-y: auto;
}