@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-container {
  z-index: 100001 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(15, 23, 42);
  }
}

:root {
  /* Your default theme */
  --background: rgb(228, 228, 231);
}

[data-theme="dark"] {
  --background: rgb(15, 23, 42);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}