@tailwind base;
@tailwind components;
@tailwind utilities;


.Toastify__toast-container {
  z-index: 100001 !important;

}

:root {
  --background: #E4E4E7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(71 85 105 / 1);
  }
}

body {
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}