.markdown-body {
  @apply prose dark:prose-invert max-sm:prose-sm prose-a:text-blue-500 prose-a:no-underline prose-hr:clear-both;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  pre {
    @apply max-sm:max-w-[calc(100vw_-_60px)];
  }

  div.pull-right {
    float: right;
    padding-left: 1rem;
    max-width: 50%;
  }

  div.pull-left {
    float: left;
    padding-right: 1rem;
    max-width: 50%;
  }

  thead {
    font-weight: 600;
    border-style: none;
  }

  table {
    th {
      border-style: none;
      padding: 6px;
      word-wrap: break-word;
      white-space: nowrap;
      @apply align-top  bg-gray-200 dark:bg-gray-900 max-w-fit overflow-clip text-wrap flex-nowrap text-start;
    }

    td {
      padding: 6px;
      display: table-cell;
      vertical-align: middle;
    }

    tbody {
      tr {
        @apply odd:bg-white odd:dark:bg-gray-900 even:bg-gray-100 even:dark:bg-gray-800;
      }
    }
  }

  table td {
    @apply align-top bg-gray-200 dark:bg-gray-900 max-w-fit overflow-clip text-wrap flex-nowrap text-start;
  }

  table thead th {
    word-break: normal;
    @apply font-semibold;
  }

  .table-scrollable {
    min-width: 100% !important;
    overflow-x: auto;
    overflow-y: auto;
  }

  .MarkdownViewer__negative_group {
    color: crimson;
    border-top: 1px solid #cacaca;
    padding-top: 1rem;
  }

  div.videoWrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.2%;
    position: relative;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

.phishy {
  @apply text-red-500 prose-headings:text-red-500  prose-ol:text-red-500 prose-ul:text-red-500 prose-li:text-red-500 marker:text-red-500;
  display: inline;

}