.markdown-body {
  @apply prose dark:prose-invert max-sm:prose-sm prose-a:text-blue-500 prose-a:no-underline prose-hr:clear-both prose-p:leading-loose;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  pre {
    @apply max-sm:max-w-[calc(100vw_-_60px)];
  }

  div.pull-right {
    float: right;
    padding-left: 1rem;
    max-width: 50%;
  }

  div.pull-left {
    float: left;
    padding-right: 1rem;
    max-width: 50%;
  }

  .table-scrollable {
    @apply w-full overflow-x-auto !min-w-full;
  }

  /* Main table styles */
  table {
    @apply w-full table-auto border-collapse text-sm;

    th {
      @apply bg-gray-100  dark:bg-gray-800 dark:text-gray-200 text-left p-3 font-semibold text-gray-900 whitespace-nowrap;
    }

    /* Body cells */
    td {
      @apply align-middle text-gray-800 dark:text-gray-100;
    }

    tbody tr:nth-child(odd) {
      @apply bg-white dark:bg-gray-900;
    }

    /* Optional: border for aesthetics */

    th,
    td {
      @apply border border-gray-300 dark:border-gray-700 !p-2;

      white-space: normal;
      overflow-wrap: normal; // ← ✅ breaks long unbreakable strings like URLs
      word-break: break-word;
    }
  }

  /* Header cells */
  table thead {
    @apply bg-gray-100 dark:bg-gray-800 text-left p-3 font-semibold text-gray-900 dark:text-gray-200 whitespace-nowrap;
  }

  .MarkdownViewer__negative_group {
    color: crimson;
    border-top: 1px solid #cacaca;
    padding-top: 1rem;
  }

  div.videoWrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.2%;
    position: relative;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  hr {
    margin: 15px 0;
    overflow: hidden;
  }

  span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
  }

  span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
  }

  details {
    @apply bg-[#f8f8f8] dark:bg-[#2c3a45] outline-none outline-2 rounded-md outline-gray-200 dark:outline-gray-500;
  }

  :not(pre) > code {
    @apply dark:bg-[#8382805d] bg-[#b1b0ac48] rounded-[4px] p-1 clear-both;
    padding: 0.2em 0.4em;
    border-radius: 0.25em;
  }

  pre code {
    padding: 0.25rem; /* p-1 equivalent */
    display: block;
    overflow-x: auto;
  }

  code::before,
  code::after {
    content: "" !important;
  }
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.phishy {
  @apply text-red-500 prose-headings:text-red-500  prose-ol:text-red-500 prose-ul:text-red-500 prose-li:text-red-500 marker:text-red-500;
  display: inline;
}