.home-carousel {

    .rec-carousel-wrapper {
        .rec-carousel {
            // align-items: center;

            button{
                align-self: center;
                margin-bottom: 10px;
            }
         
            .rec-slider-container {
                margin: 0px !important;

                .rec-slider {

                    .rec-swipable {

                    }
                }
            }
        }
    }
}