.cardContainer {
    width: 160px;
    height: 270px;
    margin: 100px auto;
    box-shadow: 0px 0px 74px -31px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 74px -31px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 74px -31px rgba(0, 0, 0, 0.6);
  }
  
  .card {
    /* background-color: aqua; */
    height: 100%;
  }
  
  .card img {
    width: 100%;
    height: 100%;
  }